@font-face {
  font-family: 'biorhymeregular';
  src: url('../fonts/BioRhyme-Regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

.container {
  max-width: 1140px;
  width: 100%;
  position: relative;
  margin: 0 auto;
  padding: 0 2rem;
}

header {
  background: #686de0;
  color: #fff;
  height: calc(100vh - 8rem);
  display: flex;
  align-items: center;
  overflow: hidden;
  margin: 0 0 2rem;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: #222;
  background: #eee;
}

p {
  font-size: 1.6rem;
  margin: 0 0 2rem;
  line-height: 1.6;
}

ul li {
  font-size: 1.6rem;
  line-height: 1.6;
}

blockquote {
  font-size: 1.6rem;
  border: .1rem solid #222;
  border-radius: .4rem;
  padding: 2rem;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 2rem;
  font-family: 'biorhymeregular', serif;
}

h1 { font-size: 4rem; }
h2 { font-size: 3.6rem; }
h3 { font-size: 3.2rem; }
h4 { font-size: 2.8rem; }
h5 { font-size: 2.4rem; }
h6 { font-size: 2rem; }
