html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0; }

main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

:root {
  --black: #353b48;
  --border-color: #eee;
  --white: #fff;
  --banner-background: rgba(236, 240, 241, 0.5) ; }

* {
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  color: var(--black); }

body {
  font-family: 'PT Sans', sans-serif; }

a {
  text-decoration: none;
  color: #00a8ff;
  transition: all 450ms ease-in-out; }
  a:hover {
    color: #0076b3; }

h1 {
  font-size: 3.6rem; }

h2 {
  font-size: 3.2rem; }

h3 {
  font-size: 2.8rem; }

h4 {
  font-size: 2.4rem; }

h5 {
  font-size: 2rem; }

h1, h2, h3, h4, h5 {
  margin: 0 0 2rem;
  line-height: 1.8; }

p {
  font-size: 1.6rem;
  line-height: 1.9;
  margin: 0 0 2rem; }

.img-responsive {
  width: 100%;
  max-width: 100%; }

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
  position: relative; }

.nav-bar {
  border-bottom: 1px solid var(--border-color); }
  .nav-bar ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row; }
  .nav-bar .btn {
    display: inline-block; }
    @media (min-width: 767px) {
      .nav-bar .btn {
        display: none; } }

.nav-item {
  display: none; }
  @media (min-width: 767px) {
    .nav-item {
      display: block; } }
  .nav-item a {
    display: inline-block;
    padding: 2rem;
    font-size: 1.5rem; }

.nav-item-home {
  display: block;
  margin: 0 auto 0 0; }

.btn {
  background-color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid #dbdbdb;
  padding: .375rem .75rem;
  font-size: 1.4em;
  border-radius: .2rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  margin: .5rem 0;
  line-height: 3rem; }
  .btn svg {
    width: 2rem;
    transform: translateY(25%); }

.btn-hero {
  color: var(--black);
  background: var(--white);
  text-shadow: none;
  border: 1px solid var(--white);
  min-width: 200px;
  padding: .5rem .75rem; }
  .btn-hero:hover {
    background: var(--black);
    color: var(--white);
    border: 1px solid var(--black);
    transform: translateY(-1px);
    box-shadow: 0 3px 5px rgba(100, 100, 100, 0.8); }

.nav-sidebar {
  position: fixed;
  z-index: 50;
  width: 75vw;
  top: 0;
  right: 0%;
  height: 100%;
  background: var(--white);
  border-left: 1px solid var(--border-color);
  transform: translate(100%, 0);
  transition: all 250ms ease-in-out; }
  .nav-sidebar ul {
    padding: 0;
    margin: 0;
    list-style: none; }
  .nav-sidebar .btn {
    float: right;
    margin: 2rem 1rem 1rem; }

.nav-sidebar-open {
  transform: translate(0, 0); }

.sidebar-nav-item a {
  display: inline-block;
  padding: 2rem;
  font-size: 1.5rem;
  width: 100%;
  border-bottom: 1px solid var(--border-color); }

.overlay {
  position: fixed;
  z-index: 25;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(238, 238, 238, 0.8);
  pointer-events: none;
  transition: opacity 250ms ease-in-out;
  opacity: 0; }

.overlay-open {
  opacity: 1;
  pointer-events: all; }

.hero {
  overflow: hidden;
  height: calc(100vh - 8rem);
  background: url("./img/brandless-a7PzXKoZLOU-unsplash.jpg") top center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--white);
  text-shadow: 0 3px 5px rgba(100, 100, 100, 0.8); }

.map {
  margin: 4rem 0; }
  .map iframe {
    width: 100%; }

hr {
  color: rgba(200, 200, 200, 0.2);
  margin: 4rem 0; }

.card-layout {
  border: 1px solid rgba(200, 200, 200, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem; }
  @media (min-width: 767px) {
    .card-layout {
      flex-direction: row; } }

.card-copy {
  padding: 2rem 0; }
  @media (min-width: 767px) {
    .card-copy {
      padding: 0 2rem; } }

.hero-page {
  background: url("./img/linen_@2x.png") top center;
  padding: 8rem 0 2rem 0;
  margin: 0 0 4rem; }
  .hero-page h2 {
    margin: 0; }

.banner {
  background: var(--banner-background);
  padding: 8rem 0;
  text-align: center;
  margin: 0 0 8rem; }
  .banner p {
    margin: 0; }

.card-row {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem; }
  @media (min-width: 767px) {
    .card-row {
      grid-template-columns: repeat(3, 1fr); } }

.card {
  border: 1px solid var(--border-color);
  border-top: 10px solid var(--border-color);
  box-shadow: 0 1px 2px rgba(100, 100, 100, 0.3);
  padding: 2rem;
  display: flex;
  flex-direction: column; }
  .card .btn {
    margin-top: auto;
    color: var(--black); }
    .card .btn:hover {
      border: 1px solid var(--black); }
  .card svg {
    height: 6rem;
    margin: 0 0 2rem; }

.products {
  margin: 8rem 0 0;
  padding: 0 2rem; }

.product-area {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 -2rem; }
  @media (min-width: 767px) {
    .product-area {
      flex-direction: row; } }
  .product-area .flex-item {
    height: 500px;
    padding: 0 2rem;
    flex: 1 0 50%; }

.product-image {
  flex-direction: column;
  display: flex;
  justify-content: center; }

.product-text {
  flex-direction: column;
  display: flex;
  justify-content: center;
  position: relative; }
  .product-text:after {
    content: "";
    position: absolute;
    right: 0;
    height: 50%;
    width: .2rem;
    background: var(--border-color);
    display: none; }
    @media (min-width: 767px) {
      .product-text:after {
        display: block; } }
  .product-text p {
    margin: 0; }

@media (min-width: 767px) {
  .product-text-reverse {
    order: 1; } }
.product-text-reverse:after {
  left: 0; }

.team-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 2rem;
  margin: 0 0 4rem; }
  @media (min-width: 767px) {
    .team-grid {
      grid-template-columns: repeat(3, 1fr); } }
  .team-grid + .card-layout {
    margin: 0 0 4rem; }
    .team-grid + .card-layout .btn {
      padding: .75rem 3rem;
      color: currentColor; }

.team-member {
  box-shadow: 0 1px 2px rgba(100, 100, 100, 0.3); }

.team-text {
  padding: 2rem; }
  .team-text h3, .team-text h4 {
    margin: 0; }

.img-product {
  float: right;
  width: 40%;
  margin: 0 0 0 5.5rem;
  border: 1px solid #eee;
  padding: 1rem; }

figcaption {
  padding: 1rem 0 0 0;
  font-size: 1.3rem;
  line-height: 1.8; }

.site-footer {
  border-top: 1px solid var(--border-color);
  padding: 4rem 0; }
  .site-footer p {
    margin: 0; }

.social {
  border-top: 1px solid var(--border-color);
  padding: 2rem 0; }

.social-icons {
  display: flex;
  align-items: center; }
  .social-icons h4 {
    margin: 0 auto 0 0; }

.social-icon {
  margin: 0 1rem;
  width: 4rem;
  display: inline-block; }
  .social-icon:last-child {
    margin: 0 0 0 1rem; }
