/* 
  Flexbox only example for the 3 column layout in class.
  The negative margin is to offset the gap in the columns.
  The negative margin should always match the margin on the columns, if you need a 20 column gap, 10px on each side.
*/

.row {
  display: flex;
  flex-direction: column;
}

.card {
  position: relative;
  padding: 1rem 2rem;
  border: .1rem solid #333;
  border-radius: .4rem;
  flex: 1;
  margin: 0 0 2rem;
}

@media (min-width: 767px) {
  .row {
    margin: 0 -1rem 2rem;
    flex-direction: row;
  }

  .card {
    margin: 0 1rem;
  }
}
